<%- include("layout/header.ejs") %>
<body>
  <main class="wrapper mb-8">
    <h2 class="heading-1"><%= __("Upload new product") %></h2>
    <form method="post" enctype="multipart/form-data">
      <div class="relative mb-2">
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Product name"
          class="peer mt-1 w-full border-b-1 border-gray-200 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none"
          required
          maxlength="<%= MAX_CHARS %> "
          aria-describedby="name-help"
        />
        <label
          for="name"
          class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800 font-medium"
        >
          <%= __("Name") %> *
        </label>
      </div>
      <%- include("ui/form-help.ejs", { helpId: "name-help", helpText: `Max length ${MAX_CHARS} characters` }) %>
      <div class="relative mb-2">
        <input
          type="number"
          name="price"
          id="price"
          placeholder="1.00"
          class="peer mt-1 w-full border-b-1 border-gray-200 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none"
          required
          min="<%= MIN_PRICE %>"
          max="<%= MAX_PRICE %>" 
          step="0.01"
          aria-describedby="price-help"
        />
        <label
          for="price"
          class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800 font-medium"
        >
          <%= __("Price") %> *
        </label>
      </div>
      <%- include("ui/form-help.ejs", { helpId: "price-help", helpText: `Price range limit from $${MIN_PRICE.toFixed(2)} to $${MAX_PRICE.toFixed(2)}` }) %> 
      <div class="flex flex-col md:flex-row">
        <div class="md:grow">
          <p class="mb-2 text-gray-400 font-medium"><%= __("Tags") %></p>
          <div class="mb-4 lg:mb-4 flex flex-col flex-wrap gap-4 sm:flex-row sm:gap-6 sm:gap-y-3">
            <%- include("ui/form-checkbox.ejs", { name:"tags", value: "lifestyle", labelText: "Lifestyle" }) %> 
            <%- include("ui/form-checkbox.ejs", { name:"tags", value: "motor", labelText: "Motor" }) %> 
            <%- include("ui/form-checkbox.ejs", { name:"tags", value: "work", labelText:"Work" }) %> 
            <%- include("ui/form-checkbox.ejs", { name:"tags", value: "mobile", labelText: "Mobile" }) %>
          </div>
        </div>
        <div class="flex flex-col gap-0.5 md:grow">
          <label for="image" class="text-gray-400 font-medium"><%= __("Image") %></label>
          <input 
            type="file" 
            id="image" 
            name="image" 
            class="block w-full text-gray-500 file:me-4 file:py-2 file:px-4 file:border-0 file:text-sm file:bg-gray-400 file:text-white hover:file:bg-gray-500 file:disabled:opacity-50 file:disabled:pointer-events-none border border-gray-200 rounded-md mb-1.5"
            accept="image"
            aria-describedby="image-help"
          />
          <%- include("ui/form-help.ejs", { helpId: "image-help", helpText: "Allowed formats: PNG or JPG" }) %>
        </div>
      </div>
      <% if (error) { %>
        <div class="flex gap-1 justify-center text-red-500 my-3">
          <span class="material-symbols-outlined">error</span>
          <p><%= error %></p>
        </div>
      <% } %>
      <div class="flex justify-end my-2">
        <button type="submit" class="btn flex justify-center"><%= __("Submit") %></button>
      </div>
    </form>
  </main>
</body>
<%- include("layout/footer.ejs") %>
