<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= appName %></title>
    <link
      rel="shortcut icon"
      href="/assets/app-favicon.svg"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0"
    />
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body>
    <h1 class="sr-only"><%= appName %></h1>
    <header class="wrapper mb-8">
      <div class="border-b-1 border-b-gray-200 py-4 flex justify-between">
        <a href="/" class="transition hover:opacity-75">
          <span class="sr-only">Home</span>
          <img src="/assets/app-logo.svg" alt="logo" class="h-10" />
        </a>
        <div class="flex gap-4">
          <div class="dropdown flex items-center">
            <button 
              class="flex items-center p-1 text-gray-500 transition-opacity hover:opacity-75" 
              type="button"
            >
              <span class="material-symbols-outlined">language</span>
            </button>
            <div class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95">
              <div 
                class="absolute right-0 w-16 p-2 mt-4 origin-top-right bg-white border border-gray-200 shadow-md outline-none" 
                role="menu"
              >
                <ul class="flex flex-col gap-1 text-gray-500 font-medium">
                  <li class="<%= getLocale() === "en" ? "opacity-50 pointer-events-none" : "" %>">
                    <a href="/locales/<%= getLocales()[0] %>">🇬🇧 <%= getLocales()[0].toUpperCase() %></a>
                  </li>
                  <li class="<%= getLocale() === "es" ? "opacity-50 pointer-events-none" : "" %>">
                    <a href="/locales/<%= getLocales()[1] %>">🇪🇸 <%= getLocales()[1].toUpperCase() %></a>
                  </li>
                </ul>
            </div>
          </div>
          </div>
          <% if (session.userId) { %>
          <a class="group btn" href="/logout"><%= __("Log Out") %></a>
          <% } else { %>
          <a class="group btn-outline" href="/login"><%= __("Log In") %></a>
          <% } %>
        </div>
      </div>
      <% if (session.userId) { %>
      <nav
        class="border-b-1 border-b-gray-200 py-4 flex justify-between items-center"
      >
        <ul class="flex flex-col sm:flex-row gap-6 sm:gap-4">
          <li>
            <div class="flex gap-1 text-gray-300">
              <span class="material-symbols-outlined">assignment_ind</span>
              <p><%= session.username %></p>
            </div>
          </li>
          <li>
            <a href="/products/new" class="navlink"><%= __("New product") %></a>
          </li>
          <li>
            <a href="/api-docs" target="_blank" class="navlink"><%= __("API documentation") %></a>
          </li>
        </ul>
      </nav>
      <% } %>
    </header>
  </body>
  <%#
</html>
%>
